[global_config]
  always_split_with_profile = True
  title_inactive_bg_color = "#121212"
  title_inactive_fg_color = "#d7d7d7"
  title_transmit_bg_color = "#121212"
  title_transmit_fg_color = "#d7d7d7"
[keybindings]
  go_down = <Alt>j
  go_left = <Alt>h
  go_right = <Alt>l
  go_up = <Alt>k
  switch_to_tab_1 = <Alt>1
  switch_to_tab_10 = <Alt>0
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#0c0c0c"
    cursor_color = "#fc971f"
    font = Mono 13
    foreground_color = "#d9d9d9"
    palette = "#1a1a1a:#f4005f:#98e024:#fd971f:#9d65ff:#f4005f:#58d1eb:#c4c5b5:#625e4c:#f4005f:#98e024:#e0d561:#9d65ff:#f4005f:#58d1eb:#f6f6ef"
    use_system_font = False
  [[Monokai Remastered]]
    background_color = "#0c0c0c"
    cursor_color = "#fc971f"
    foreground_color = "#d9d9d9"
    palette = "#1a1a1a:#f4005f:#98e024:#fd971f:#9d65ff:#f4005f:#58d1eb:#c4c5b5:#625e4c:#f4005f:#98e024:#e0d561:#9d65ff:#f4005f:#58d1eb:#f6f6ef"
  [[Monokai Soda]]
    background_color = "#1a1a1a"
    cursor_color = "#f6f7ec"
    font = Mono 13
    foreground_color = "#c4c5b5"
    palette = "#1a1a1a:#f4005f:#98e024:#fa8419:#9d65ff:#f4005f:#58d1eb:#c4c5b5:#625e4c:#f4005f:#98e024:#e0d561:#9d65ff:#f4005f:#58d1eb:#f6f6ef"
    scrollback_infinite = True
  [[Monokai Vivid]]
    background_color = "#121212"
    cursor_color = "#fb0007"
    foreground_color = "#f9f9f9"
    palette = "#121212:#fa2934:#98e123:#fff30a:#0443ff:#f800f8:#01b6ed:#ffffff:#838383:#f6669d:#b1e05f:#fff26d:#0443ff:#f200f6:#51ceff:#ffffff"
  [[Solarized Darcula]]
    background_color = "#3d3f41"
    cursor_color = "#708284"
    foreground_color = "#d2d8d9"
    palette = "#25292a:#f24840:#629655:#b68800:#2075c7:#797fd4:#15968d:#d2d8d9:#25292a:#f24840:#629655:#b68800:#2075c7:#797fd4:#15968d:#d2d8d9"
  [[Solarized Dark]]
    background_color = "#001e27"
    cursor_color = "#708284"
    foreground_color = "#708284"
    palette = "#002831:#d11c24:#738a05:#a57706:#2176c7:#c61c6f:#259286:#eae3cb:#001e27:#bd3613:#475b62:#536870:#708284:#5956ba:#819090:#fcf4dc"
  [[Solarized Dark - Patched]]
    background_color = "#001e27"
    cursor_color = "#708284"
    foreground_color = "#708284"
    palette = "#002831:#d11c24:#738a05:#a57706:#2176c7:#c61c6f:#259286:#eae3cb:#475b62:#bd3613:#475b62:#536870:#708284:#5956ba:#819090:#fcf4dc"
  [[Symfonic]]
    cursor_color = "#dc322f"
    foreground_color = "#ffffff"
    palette = "#000000:#dc322f:#56db3a:#ff8400:#0084d4:#b729d9:#ccccff:#ffffff:#1b1d21:#dc322f:#56db3a:#ff8400:#0084d4:#b729d9:#ccccff:#ffffff"
